* {
  background-color:lavender;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 30px;
  margin: 30px;
}

button {
  width: 150px !important;
  margin: 0 auto;
  background-color:cornflowerblue;
  color: white;
}

.standartinput {
  width: 300px !important;
  margin: 0 auto;
  border-radius: 6px;
}

input {
  border: 0.1em solid cornflowerblue;
}

h2 {
margin: 0;
}